.mainContainer{
  padding-left: 75px;
  padding-right: 30px;
}
.mainCard{
  height: 100%;
}
.mainDiv{
  flex: 1;
  width: 100%;
  min-height: 300px;
}
@media only screen and (max-width: 576px) {
  .mainContainer{
   padding-left: 50px;
   padding-right: 13px;
  }
}
@media (max-width: 1147px) {
  .dropdownSmall {
    font-size: 10px; 
    padding: 5px 5px; 
  }

  .resetButtonSmall {
    font-size: 10px;
    padding: 5px 5px;
  }
}